
# Created by https://www.gitignore.io/api/modelsim,alteraquartusii
# Edit at https://www.gitignore.io/?templates=modelsim,alteraquartusii


### AlteraQuartusII ###
Quartus/**/output_files
Quartus/**/incremental_db
Quartus/**/.qsys_edit
Quartus/**/db
Quartus/**/*.qws
Quartus/**/*.ver
Quartus/**/*.bak
Quartus/**/*.mif
Quartus/**/greybox_tmp
Quartus/**/c5_pin_model_dump.txt

### ModelSim ###
ModelSim/**/work
ModelSim/**/*.mti
ModelSim/**/*.wlf
ModelSim/**/*.bak

